<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.dao.${className}Dao">
    <!-- 表所有字段 -->
    <sql id="allColumns">
        #foreach($column in $columns)
        ${column.fieldName}#if($foreach.hasNext),#end
        #end
    </sql>
    <!--基本过滤条件-->
    <sql id="filterColumns">
        #foreach($column in $columns)
            <if test="${column.attrname} != null and ${column.attrname} != ''">
                AND ${column.fieldName}=#{ ${column.attrname} }
            </if>
        #end
    </sql>
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${package}.${moduleName}.entity.${className}Entity" id="${classname}Map">
    #foreach($column in $columns)
            <result property="${column.fieldName}" column="${column.attrname}"/>
    #end
    </resultMap>



</mapper>