package ${package}.${moduleName}.service;

import com.szt.common.CommonService;
import ${package}.${moduleName}.entity.${className}Entity;

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends CommonService<${className}Entity> {


}