<template>
    <el-dialog
            :title="!dataForm.id ? '新增' : '修改'"
            :close-on-click-modal="false"
            :visible.sync="visible">
        <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px">
            #foreach($column in $columns)
                #if($column.fieldName != $pk.fieldName)
                    <el-form-item label="${column.comment}" prop="${column.attrname}">
##                        #if($column.list.size() >0)
##                            <el-select v-model="dataForm.${column.attrname}" placeholder="请选择" style="width:100%;">
##                                <el-option
##                                        v-for="item in busConfig.${column.selectKey}.list"
##                                        :key="item.confName"
##                                        :label="item.confName"
##                                        :value="item.confVue">
##                                </el-option>
##                            </el-select>
##                        #else
                            #if($column.attrType == "Date")
                                <el-date-picker v-model="dataForm.${column.attrname}"  placeholder="${column.comment}" type="date" style="width:100%;"></el-date-picker>
                            #else
                                <el-input v-model="dataForm.${column.attrname}" placeholder="${column.comment}"></el-input>
                            #end
##                        #end

                    </el-form-item>
                #end
            #end
        </el-form>
        <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
    </el-dialog>
</template>

<script>
    import API from '@/api'
    export default {
        data () {
            return {
                busConfig: this.busConfig,
                sysurl: window.SITE_CONFIG.baseUrl,
                visible: false,
                dataForm: {
            #foreach($column in $columns)
                #if($column.fieldName == $pk.fieldName)
                    ${column.attrname}: 0,
                #else
                    ${column.attrname}: ''#if($velocityCount != $columns.size()),#end

                #end
            #end
        },
            dataRule: {
                #foreach($column in $columns)
                    #if($column.fieldName != $pk.fieldName)
                        ${column.attrname}: [
                        { required: true, message: '${column.comment}不能为空', trigger: 'blur' }
                    ]#if($velocityCount != $columns.size()),#end

                    #end
                #end
            }
        }
        },
        methods: {
            init (id) {
                this.dataForm.${pk.attrname} = id || 0
                this.visible = true
                this.$nextTick(() => {
                    this.$refs['dataForm'].resetFields()
                    if (this.dataForm.${pk.attrname}) {
                        API.${pathName}.info(this.dataForm.${pk.attrname}).then(({data}) => {
                            if (data && data.code === 0) {
                                #foreach($column in $columns)
                                    #if($column.fieldName != $pk.fieldName)
                                        this.dataForm.${column.attrname} = data.data.${column.attrname}
                                    #end
                                #end
                            }
                        })
                    }
                })
            },
            // 表单提交
            dataFormSubmit () {
                #[[this.$refs['dataForm'].validate((valid) => {]]#
                        if (valid) {
                    var params = {
                    #foreach($column in $columns)
                    #if($column.fieldName == $pk.fieldName)
                    '${column.attrname}': this.dataForm.${column.attrname} || undefined,
                            #else
                    '${column.attrname}': this.dataForm.${column.attrname}#if($velocityCount != $columns.size()),#end

                    #end
                    #end
                }
                    var tick = !this.dataForm.${pk.attrname} ? API.${pathName}.add(params) : API.${pathName}.update(params)
                    tick.then(({data}) => {
                        if (data && data.code === 0) {
                            #[[this.$message({]]#
                                    message: '操作成功',
                                    type: 'success',
                                    duration: 1500,
                                    onClose: () => {
                                this.visible = false
                                #[[this.$emit('refreshDataList')]]#
                            }
                        })
                        } else {
                            #[[this.$message.error(data.msg)]]#
                        }
                    })
                }
                })
            }
        }
    }
</script>